<h2 class="text-center my-5">Users</h2>
<ul class="users-list">
    <% @users.each do |user| %>
        <% if  current_user != user %>  
            <li class='user-info col-12'>
                <div class="row col-9 mx-auto my-5 d-flex justify-content-center">
                    <div class='col-6 row'>
                        <div class="col-5"> <%= image_tag user.gravatar_url %> </div>
                        <p class="col-7"><%= link_to user.username, user_path(user.id) %></p>
                    </div>
                    <div>
                        <% if !current_user.friend?(user) && !current_user.pending_friends.include?(user)%>
                            <%= button_to 'Add friend', user_request_path(current_user, friendship: { user_id: current_user, friend_id: user.id }), method: :post, class:"btn btn-primary" %>
                        <% elsif current_user.friend?(user) %>
                            <%= button_to 'Delete friend', user_delete_path(current_user, user: user), method: :destroy, class:"btn btn-danger" %>
                        <% elsif current_user.pending_friends.include?(user) %>
                            <%= link_to 'Friend added', user, class:"btn btn-secondary" %>
                        <% end %>
                    </div>
                </div>
            </li>
        <% end %>   
    <% end %>
</ul>