<%= render 'shared/login' %>

<div class="col-5 bg-white px-4 py-4 border border-white rounded-right">
  <h3>Forgot your password?</h3>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
      <div class="mb-3">
        <%= f.label :email, class:'text-secondary'%><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "field col-12" %>
      </div>

    <div class="actions py-1">
        <%= f.submit "Send me reset password instructions", class: 'btn submit' %>
        <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>
