
<!DOCTYPE html>
<html>
  <head>
    <title>SocialBook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <%= render 'layouts/header' %>

  <body class = 'container'>
    <%= yield %>
  </body>
</html>
