
<!DOCTYPE html>
<html>
  <head>
    <title>SocialBook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <% unless controller_name == 'sessions' || controller_name == 'registrations' || controller_name == 'passwords'%>
    <%= render 'layouts/header' %>

    <body class = 'container-fluid'>
      <% flash.each do |name, message| %>
        <div class="alert alert-<%= name %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </body>
  <% else %>
     <body class = 'container-fluid bg-login'>
      <% flash.each do |name, message| %>
        <div class="alert alert-<%= name %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </body>
  <% end %>
</html>
